@import '../../App.css';

.panel {
    width: 100%;
    top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
    z-index: 500;
}

.card-container {
    width: 80%;
    display: flex;
    padding-top: 80px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}